# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Exclude database
microdados/csv
*.db
*.sqlite3

# IPython Notebook checkpoints
.ipynb_checkpoints

# Others
*.ini